<%= semantic_form_for(@menu) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div><%= f.hidden_field :course_ids, value: @course_ids, id: "course_ids" %></div>

	<%= render layout: "layouts/form" do %>
			<%=f.inputs do %>
				<%=f.input :date, required: true, as: :date_picker %>

				<%=f.input :category, collection: @menu_categories, input_html: { class: 'select2', data: { placeholder: t('js.placeholders.category') }} %>
		<% end %>
	<% end %>


	<div class="form-group">
		<section id="courses_for_menu_lists">
			<%= render 'courses_for_menu_lists'%>
		</section>
	</div>
	
	<%= f.actions do %>
	  	<%= f.submit :class => "btn btn-lg btn-primary" %>
	<% end %>

<% end %>