<% provide(:title, t('devise.edit_registration.title')) %>

<%= semantic_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%=f.inputs do %>

    <%=f.input :username, label: t('devise.username.title'), required: true%>
    <%=f.input :email, label: t('devise.email.title')%>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div><%= t('devise.edit_registration.unconfirmed_email') %>: <%= resource.unconfirmed_email %></div>
    <% end %>

    <%=f.input :password, label: t('devise.password.title')%>
    <%=f.input :password_confirmation, label: t('devise.password_confirmation.title'), required: true%>
    <%=f.input :current_password, label: t('devise.current_password.title'), required: true%>
  <% end %>

  <%=f.actions do%>
    <%=f.action :submit, label: t('devise.edit_registration.submit'), button_html: { value: t('devise.edit_registration.submit'), class: "btn btn-lg btn-primary" } %>
  <% end %>

  <%= link_to t('helpers.back'), :back %><br />
<% end %>

<h3><%= t('devise.edit_registration.delete.title')  %></h3>

<p>
  <%= button_to t('devise.edit_registration.delete.submit'), registration_path(resource_name), :data => { :confirm => t('devise.delete_confirmation') }, :method => :delete,  class: "btn btn-lg btn-danger" %>
</p>

<%= link_to t('helpers.back'), :back %>
