<% provide(:title, 'Изменить вид блюда') %>

<div class="row">
	<div class="col-lg-6 col-lg-offset-2">
		<%= form_for(@course_kind) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>

		<%= f.label :name, "Название" %>
		<%= f.text_field :name %>

		<%= f.submit "Сохранить", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>