<li><%= link_to "Случайный рецепт", advice_path %></li>
<li><%= link_to "Продукты", products_path %></li>
<li><%= link_to "Мои рецепты", courses_path %></li>
<li><%= link_to "Меню", menus_path %></li>
<li><%= link_to "Списки покупок", shopping_lists_path %></li>