<%= semantic_form_for(@shopping_list) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<div><%= f.hidden_field :product_ids, value: @product_ids, id: "product_ids" %></div>

<%= render layout: "layouts/form" do %>
	<%=f.inputs do %>
		<%=f.input :name %>
	<% end %>
<% end %>

<div class="form-group">
	<section id="products_for_shopping_lists_lists">
		<%= render 'products_for_shopping_lists_lists'%>
	</section>
</div>

<%= f.actions do %>
	  	<%= f.submit :class => "btn btn-lg btn-primary" %>
	<% end %>
<% end %>

