<% provide(:title, 'Изменить блюдо') %>

<div class="row">
	<div class="col-lg-6 col-lg-offset-2">
		<%= form_for(@course) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>

		<%= f.label :name, "Название" %>
		<%= f.text_field :name %>

		<%= f.label :ingridients, "Состав:" %>
		<%= f.collection_select :product_ids, current_user.products, :id, :name, {selected: @course.product_ids}, :multiple => true %>

		<%= f.label :course_kind, "Вид блюда:" %>
		<%= f.collection_select(:course_kind_id, current_user.course_kinds, :id, :name, :include_blank  => true) %>

		<%= f.submit "Сохранить", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>