<% provide(:title, 'Импорт базовых продуктов') %>

<% if @common_products && @common_products.any? %>
	<h2>Базовые продукты (<%= @common_products.count %>)</h2>
	<%= form_tag import_common_products_path do %>
	<table class='table' id='common_products_table'>
		<thead>
			<tr>
				<th>Название</th>
				<th>Импортировать</th>
			</tr>
		</thead>

		<tbody>
			<% @common_products.find_each do |product| %>
			<tr>
				<td>
					<% if can? :manage, product %>
					<%= link_to wrap(product.name), product_path(product), title: product.name %>
					<% else %>
					<%= wrap(product.name) %>
					<% end %>
				</td>
				<td>
					<%= check_box_tag "product_ids[]", product.id, nil, id: "product_chckbox_#{product.id}" %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
	<%= submit_tag "Импорт", class: "btn btn-lg btn-primary" %>
	<% end %>
<% end %>