<% provide(:title, 'Новый продукт') %>

<%= form_for(@product) do |f| %>
<%= render 'shared/error_messages', object: f.object %>

<div class="form-group">
<%= f.label :name, "Название" %>
<%= f.text_field :name %>
</div>
<div class="form-group">
<%= f.label :course_kind, "Вид продукта:" %>
<%= f.collection_select(:product_kind_id, @product_kinds, :id, :name, :include_blank  => true) %>
</div>
<div class="form-group">
<%= f.submit "Добавить", class: "btn btn-lg btn-primary" %>
<% end %>
</div>