<% content_for :content do %>

<div class="row">
	<div class="col-md-2">
		<hr>
		<ul class="nav nav-stacked">
			<li><%= link_to "Случайный рецепт", advice_path %></li>
			<li><%= link_to "Продукты", products_path %></li>
			<li><%= link_to "Мои рецепты", courses_path %></li>
			<li><%= link_to "Меню", menus_path %></li>
		</ul>
		<hr>
	</div>
	<div class="col-md-10">
		<%#= yield %>
		<%= content_for?(:form_content) ? yield(:form_content) : yield %>
	</div>
</div>

<% end %>
<%= render template: "layouts/application" %>